---
layout: layouts/base.njk
---

{{ content | safe }}

<img src="{{ '/assets/img/vivelecommune.png' | url }}" alt="An Apple IIe with the French word VIVE written across the screen" class="img-fluid">